<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="robotiq_hande" >

  <xacro:include filename="$(find hans_t9_4_description)/urdf/hans_t9.4.urdf.xacro" />
  <xacro:hans9_4 prefix=""/>

  <link name="world" />

  <joint name="world_to_hande_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.5"/>
    <parent link="world"/>
    <child link="motor1_link"/>
  </joint>

</robot>
